body {
    background-color: #ffffff;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
}
p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
button {
    color: #fff;
    background-color: #025157;
}
.header{
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 20px 0px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}
li{
    display: inline;
    margin-right: 0px;
    margin-left: 25px;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}
.logo{
    width: 15%;
    /*margin-right: 0%;
    padding-right: 0%;*/
}
.logo > img{
    width: 15%;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    text-align: left;
    height: 45px;
    margin-left: 5px;
}
.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.actions > *{
    margin-right: 10px;
    margin-left: 10px;
}
.actions > a {
    color: #67b54b;
    padding: 0 10px;
    text-decoration: none;
}
.actions button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;

}
.main {
    margin-top: 140px;
    text-align: center;

}
.menu-item{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}
.publish {
    /* container styles if any */
    margin-left: 30px;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }
  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
  }
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }
  .features{
    display: grid;
    /*grid-template-columns: 300px;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(2, 330px);*/
    height: 660px;
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-template: repeat(2, 1fr) / repeat(2, 330px);
  }
  @media (max-width 575px){
    body{
        background-color: aqua;
    }

}
@media (max-width: 575px) {
    /** Estilos de portada principal y sección de publicidad */
    .features {
      grid-template: repeat(4, 1fr) / 1fr;
      padding-left: 0;
      padding-right: 0;
    }
  
    .feature-image {
      display: none;
    }
  }